.DS_Store
__pycache__
*.pyc
env
runtime
.idea
output
logs
reference
GPT_weights
SoVITS_weights
TEMP
.vscode/settings.json
sample
gweight.txt
sweight.txt
ffmpeg
resemble_enhance
GPT_SoVITS/configs/tts_infer.yaml
